body{
  background-color: white;
  font-size: 2em;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
table{
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
    width: 50%;

  }

.th th{
  width: 12%;
      color: white;
      padding: 1em;
}

sup {
  color: #666666;
  font-size: 19px;
  font-weight: 700;
    }
    .a
    {
      padding: 13px;
      font-size: 50px;
      color: #FC5103;
      font-weight: 600;
      border-right: 1px solid #e8e8e8;
    }
th{
  color: black;
  padding: 1em;
  border-right: 1px solid #e8e8e8;
}
tbody th{
  color:#666666;
  font-size: 14px;
    font-weight: 600;
}
tbody th:first-child,sub{
  color :#B1ACB0;
  margin-left: 0;
  font-size: 13px;

}
tbody tr:nth-of-type(1),tbody tr:nth-of-type(3),tbody tr:nth-of-type(5),tbody tr:nth-of-type(7),tbody tr:nth-of-type(9)
{
  background-color: white;
  border-color: white;
}
tbody tr:nth-of-type(2),tbody tr:nth-of-type(2),tbody tr:nth-of-type(4),tbody tr:nth-of-type(6),tbody tr:nth-of-type(8)
{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}
input
{
  width: 8em;
  margin: .1em;
  padding: 1em;
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 100%;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 1s,opacity 1s,width 1s,height 1s,font-size 1s;

}
input:hover
{
  transform: rotate(360deg);
  border-radius: 250px;
opacity: 1;
background: #FC5103;
width: 110px;
}
@media screen and (max-width:500px)
{
  input,tbody th:first-child,sub,sup,tbody th,.a,table
  {
    font-size: 9px;
  }

}
th
{
  background-color: black;
}
.th th:first-of-type
{
padding: 1.5em;
}
.th th:nth-of-type(3){
  background-color: #03A9F4;
  border: 2px solid #03A9F4;
  border-bottom: 1px solid #03A9F4;
  transform: scaleY(1.5);
}
tbody th:nth-of-type(3)
{
  background-color: #03A9F4;
  transform: scaleY(1.5);
}
